[Unit]
Description=Persoc

[Service]
Type=simple
User=root
ExecStart=/usr/bin/php /usr/libexec/persoc
Restart=always

[Install]
WantedBy=multi-user.target

